# ide thingy
.idea/
.history/
.vscode/

# compiled scala things
.gradle/
target/

# compiled/transpiled frontend things
frontend/static/js/
frontend/static/css/

# logs
**.log
backend/log

# node
frontend/node_modules
