openapi: "3.0.2"
info:
  title: Sharea
  version: "0.0.1"
servers:
  - url: https://sharea.be

paths:
  /api/media/{id}:
    get:
      tags: ["media"]
      summary: "Get the information relative to a specific media"
      parameters:
        - $ref: "#/components/parameters/queryId"
      responses:
        "200":
          description: OK

    put:
      tags: ["media"]
      summary: "Update a media"
      parameters:
        - $ref: "#/components/parameters/queryId"
      responses:
        "200":
          description: OK

    delete:
      tags: ["media"]
      summary: "Delete a media"
      parameters:
        - $ref: "#/components/parameters/queryId"
      responses:
        "200":
          description: OK

  /api/media:
    post:
      tags: ["media"]
      summary: "Create a new media"
      responses:
        "200":
          $ref: "#/components/responses/CreationSuccessful"

  /api/sharea/{id}/medias:
    get:
      tags: ["sharea", "media"]
      summary: "Retrieve every media associated with a sharea"
      parameters:
        - $ref: "#/components/parameters/queryId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: 
                    
        "404":
          description: "Not found : There is no sharea with this id"

  /api/sharea/{id}:
    get:
      tags: ["sharea"]
      summary: "Get the information relative to a specific sharea"
      parameters:
        - $ref: "#/components/parameters/queryId"
      responses:
        "200":
          description: OK

    put:
      tags: ["sharea"]
      summary: "Update a sharea"
      parameters:
        - $ref: "#/components/parameters/queryId"
      responses:
        "200":
          description: OK

    delete:
      tags: ["sharea"]
      summary: "Delete a sharea"
      parameters:
        - $ref: "#/components/parameters/queryId"
      responses:
        "200":
          description: OK

  /api/sharea:
    post:
      tags: ["sharea"]
      summary: "Create a new sharea"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Sharea"
      responses:
        "200":
          $ref: "#/components/responses/CreationSuccessful"
        "401":
          description: "Unauthorized"
        "422":
          description: "Unprocessable entity"

components:
  securitySchemes:
    jwtToken:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    queryId:
      name: id
      in: path
      description: "An pertinent id for the current query"
      schema:
        type: integer
      required: true

  schemas:
    Sharea:
      type: object
      required: ["name"]
      properties:
        name:
          type: string
        description:
          type: string

    OnlyId:
      type: object
      required: ["id"]
      properties:
        id:
          type: integer
    
    UserInfo:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        biopic:
          type: string

    Media:
      type: object
      properties:
        name:
          type: string
        author:
          $ref: "#/components/schemas/UserInfo"
        type:
          type: string
        content:
          type: string
          description: "This can be anything and MUST be considered as blob"

  responses:
    CreationSuccessful:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OnlyId"
