@use 'theme' as *;

.like-counter {

  button {

    border: none;
    background: transparent;
    color: theme-color("primary");
    outline: none !important;
    box-shadow: none;

    transition: .1s ease-in;

    &:hover, &:focus, &:active {

      border: none !important;

      background: transparent !important;
      color: theme-color("primary") !important;
      outline: none !important;
      box-shadow: none !important;

      transform: scale(1.2, 1.2);

      transition: .1s ease-out;

    }

  }

}