@use "../theme" as *;

#root {
  height: 100%;
}


.inner-content {

  height: 100%;

  display: flex;
  flex-direction: column;

}

/* -------------------------------- SECTION -------------------------------- */

.section {

  display: flex;
  height: 100%;

  .heading {

    background: white;

    h1 {

      padding: 1.5em 0.75em 0.75em 0.75em;

      color: theme-color("dark");

    }

    a {

      font-weight: bold;

      border: none;

      &:hover, &.active {

        text-decoration: none;
        font-style: normal;

        border-bottom: 3px solid theme-color("primary");

      }

    }

  }
}

/* ------------------------------- DASHBOARD ------------------------------- */

.dashboard {



}

main {

  flex-grow: 1;

}

.sidebar-container {

  width: 60px;

  transition: .2s ease-in;

  &-active {

    width: 360px;
    transition: .2s ease-out;

  }
}

.sidebar {

  display: flex;
  flex-direction: column;

  width: 360px;
  height: 100%;

  margin-left: -300px;

  background: theme-color("secondary");
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  transition: .2s ease-in;

  &-toggle {

    display: flex;
    flex-direction: row-reverse;

    padding: 5px;

    color: white;

  }

  .nav {

    flex-grow: 1;
    justify-content: center;

  }

  .nav-link {

    display: flex;
    justify-content: space-between;

    padding: 1rem 1.25rem;
    border: 0;

    color: white;
    font-weight: bold;

    &:hover, &.active {

      font-style: normal;
      border-right: 5px solid $primary;
      background-color: darken($secondary, 10%);

    }

  }

}

.sidebar-active {

  margin-left: 0;
  transition: .2s ease-out;

}

/* -------------------------------- profile -------------------------------- */

.profile-card {

  margin: 2em;

}

.profile {

  padding: 2em;

  label {

    color: theme-color("secondary");
    font-weight: bold;

  }

}

/* --------------------------------- AUTH ---------------------------------- */
